@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    th {
        @apply border;
        @apply border-slate-700;
        @apply px-1;
    }
    td {
        @apply border;
        @apply border-slate-700;
        @apply px-1;
    }
}

/* Color scheme (https://www.color-name.com/tech-blue.color)
    primary: #2776EA
    tints: 93BBF5, E9F1FD
    tones: 547BB5, 777F8B
    shades: 143B75, 040C17
*/